:root {
    --blue-50:   #e3f2fd;
    --blue-100:  #bbdefb;
    --blue-200:  #90caf9;
    --blue-300:  #64b5f6;
    --blue-400:  #42a5f5;
    --blue-500:  #2196f3;
    --blue-600:  #1e88e5;
    --blue-700:  #1976d2;
    --blue-800:  #1565c0;
    --blue-900:  #0d47a1;
    --blue-1000: #084c74;
}

@font-face {
    font-family: 'Marcellus';
    src: url('/Fonts/Marcellus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Marcellus', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5vh;
}

.subtitle {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1vh;
    color: var(--blue-700);
    margin-bottom: 3vh;
}